$main: #070150;
$sup: #f39519;
$notice: #f56c6c;
$border: #57c4e5;
$line: #d9e9fe;
$line-blue: #afc8e9;
$text-sup: #336699;
$white: white;
$shadow: 0 0 20px rgba(0, 16, 165, 0.2);

@mixin btn-sm {
  border-radius: 99px;
  padding: 1rem 3rem;
}

@mixin btn-md {
  border-radius: 99px;
  padding: 0.8rem 1.7rem;
}

@mixin btn-lg {
  border-radius: 99px;
  padding: 1rem 3rem;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin animTime {
  transition-duration: 0.2s;
}

.btn-lg {
  @include btn-lg();
}
